$deafaultColor:#222;
$lightColor : #fff;
$secondColor:#DAD0BA;
$darker:#888;
$primary:#006934;
$primary-light:#8DC21F;
$primary-lightest:#D7EE62;

// bg-colors

.bg_green{
    background-image:url('../img/green_01.jpg');
}
.bg_green_light{
    background-image:url('../img/green_02.jpg');
}
.bg-light{
    background: #fff;
}

// text-colors
.text-light{
    color:$lightColor;
    &:visited{
        color:$lightColor;
    }
}
.border-right-light{
    border-right: 1px solid #fff;
   
} 
.border-primary-light{
    border: 1px solid $primary-light;
}
.border-lg{
border-width: 2px;
}