// tag setting
*{
    box-sizing: border-box;
    
}
body{
    font-family: proxima-nova, Helvetica, Arial, "PingFang TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}


img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    color:$deafaultColor;
    &:visited{
        color:$deafaultColor;
    }
}
h2{
    font-size: 1.5rem;
    
}
h6{
    font-size: .8rem;
    color:#ccc;
    margin: 0 0 1rem;
}
a,p{
    font-size: 1rem;
}
p{
    line-height: 150%;
}
input{
   outline: 0;
    &::-webkit-input-placeholder{
        color:#ccc;
    }

}
.d-block{
    display: block;
}
%margin-auto{
     margin: auto;
}
.container{
    max-width: 1200px;
    padding: 0 10px;
     @extend %margin-auto;
}
.container-min{
    max-width: 1024px;
     padding: 0 10px;
     @extend %margin-auto;
     &.nopadding{
         padding: 0;
     }
}
.p-1{
    padding: .6rem !important;
}
.p-2{
    padding: .8rem !important;
}
.p-3{
    padding: 1rem !important;
}
.py-1{
    padding-top:.6rem !important;
    padding-bottom: .6rem !important; 
}
.my-3{
    margin-top:1rem;
    margin-bottom: 1rem; 
}
.my-5{
    margin-top:1.5rem;
    margin-bottom: 1.5rem; 
}
.mt-5{
    margin-top: 3rem;
}
.mb-3{
    margin-bottom: 1rem;
}
.m-auto{
    margin: auto;
    display: block;
}
.py-3{
    padding-top:1rem;
    padding-bottom: 1rem; 
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.phone-none{
    @include phone-width(){
        display: none;
    }
}

.row{
   clear: both;
   overflow: auto;
    .penghu-4{
       
        width: calc(100% / 3);
         @extend %col;  
    }
    .penghu-3{
        
        width: calc(100% / 4);
        @extend %col;  
    }
    .penghu-6{
        width: calc(100% / 2);
        @extend %col;  
    }
    .penghu-phone-12{
        float: left;
        width: calc(100%);
        padding: 0 5px;
    }
}
%col{
 float: left;
 padding: 0 5px;
  @include phone-width(){
            width: 100%;
        };
}
.position-re{
    position: relative !important;
}
.position-ab{
    position: absolute !important;
}
.rounded{
    @include border-radius(5px);
}
.phone-left-0{
    @include phone-width(){
        left: 0;
    }
}

