@import "_color.scss";
@import "_mixin.scss";
body {
  background-image: url("../img/background.jpg");
}
.icon {
  max-width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  img {
    width: 100%;
  }
}
.btn{
  border: 0;
  padding: .8rem 1.5rem;
  cursor: pointer;
  font-size: .8rem;
  min-width: 150px;
  &:hover{
    opacity: .9;
  }
  &:disabled{
    background-color: $darker;
    cursor: not-allowed;
    &:hover{
      opacity: 1;
    }
  }
}
.page-title {
  background: url("../img/banner_txt.png");
  padding: 2rem 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  &.page-title-sm{
    background-image: url("../img/banner_txtsm.png");
  }
  &.page-title-sm {
    max-width: 550px;
    padding: 3rem 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &.activity_text {
    transform: translateY(-50%);
    @include phone-width() {
      background-image: url("../img/green_01.jpg");
      background-size: auto;
      background-repeat: repeat;
      margin: 1rem 0;
      padding: 1rem;
      transform: translateY(0);
      @include border-radius(5px);
      .inner-border {
        border: 1px dashed #fff;
        padding: 1rem;
      }
    }
    h3 {
      @include pc-width() {
        transform: translateY(-1rem);
      }
      @include phone-width() {
        transform: translateY(0);
      }
    }
  }
  h3 {
    padding: 1rem 0;
    margin: 0;
    transform: translateY(-0.5rem);
  }
}

// 最新消息列表
.lists {
  padding: 0;
  &.border-bottom-dashed{
    li{
    border-bottom:1px dashed $primary;
    &:first-child{
      border-top:0px; 
    }
    &:last-child{
      border-bottom: 0;
    }
    }
   
  }
  li {
    list-style: none;
    border-bottom: 1px solid $primary;
    
    a {
      text-decoration: none;
      & > div {
        display: inline-block;
      }
    }
    &:first-child {
      border-top: 1px solid $primary;
    }
   
  }
  .date {
    font-weight: bold;
  }
  .label {
    margin: 0 1rem 0 2rem;
    background-color: #f29600;
    padding: 5px 1rem;
    @include border-radius(4px);
    @extend .text-light;
  }
  .title {
    @include phone-width() {
      margin: 1rem 0 0;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover{
      color: $primary-light;
    }
  }
  
}
.border-dash {
  padding: 5px;
  border: 1px dashed #00913a;
  @include border-radius(5px);
}
// 選擇分類tab
.tabs {
  @extend %ul-nostyle;
  font-size: 0;
  li {
    display: inline-block;
    width: calc(100% / 6 - 10px);
    margin: 0 5px;
    @include phone-width(){
      width: calc(100% / 3 - 10px);
      margin-bottom: 10px;
    }
  }
  a {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #023f63;
    @include border-radius(5px);
    &:hover,
    &.active {
      background-color: lighten(#023f63, 10%);
    }
  }
}
// search文章
.search-group {
  font-size: 0;
  margin: 1rem 5px;
  & > * {
    display: inline-block;
    font-size: 1rem;
    border: 1px solid $primary-light;
    line-height: 1.5rem;
  }
  input {
    width: calc(100% - 130px);
    padding: 10px 10px 10px 40px;
    outline: 0;

    @include border-radius-all(5px, 0, 0, 5px);
  }
  button {
    width: 130px;
    background-color: $primary-light;
    padding: 10px;
    min-width: auto;
    @include border-radius-all(0, 5px, 5px, 0);
  }
}

.pages-num {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
  }
  @extend %ul-nostyle;
  a {
    width: 30px;
    height: 30px;
    display: block;
    @include border-radius(3px);
    line-height: 30px;
    transition: 0.2s;
    &:hover,
    &.active {
      background-color: $primary-light;
      @extend .text-light;
    }
    &.no-hover{
      &:hover{
        background: transparent;
      }
    }
  }
}

// article
article{
  .article-title{
    border-bottom: 1px dashed $primary-light; 
    margin-bottom: 1rem;
  }
  .article-footer{
    border-top: 1px dashed $primary-light;
    padding: 1rem 0; 
  }
}
.files{
  display: inline-block;
  a{
    display: block;
    padding: 1rem 0; 
    text-decoration: underline;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 45px;
      background-image: url('../img/download.svg');
      background-size: cover;
      margin-right: 1rem;
    }
    &:hover{
      color:$darker;
    }
  }
}

//education.html
.cards{
    @extend %ul-nostyle;
}
.card{ 
    border:2px solid $primary-lightest;
    background-color: #fff;
    padding: 1rem 0 0;
    margin-bottom: 10px;
    transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include border-radius(5px);
    &.acrtive,&:hover{
      border:2px solid $primary-light;
    }
    .date{
      color:#ccc;
      font-size: 0.8rem;
      padding-left: 5px;
    }
    .title{
      // clear: both;
      // overflow: auto;
      margin-bottom: 1rem;
      &>span{
        display: inline-block;
        vertical-align: middle;
        line-height: 30px;
        
      }
      h6{
        margin: 0;
      }
    }
    .tag{
      float: right;
      padding: 0 10px;
      background-color: $primary-light;
      text-align: center;
      @extend .text-light;
      box-sizing: border-box;
    }
    
}

// inputs

.input-group{
  font-size: 0;
  margin-bottom: 10px;
  label{
    width: 100px;
    display: inline-block;
    font-size: 1rem;
  }
  input{
    display: inline-block;
    width:calc(100% - 104px);
    font-size: 1rem;
    padding: 5px;
    border: 1px solid $primary-light;
    @include border-radius(3px);
  }
}