@import "_mixin.scss";
@import "_color.scss";
.knowlege-hero {
  padding: 2rem 0 3rem;
  background-color: #ffcf60;
  .btn {
    transform: translateY(-50%);
    position: relative;
    font-size: 1rem;
    max-width: 150px;
    text-align: center;
    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 8.7px;
      border-color: transparent transparent transparent #ffffff;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &:disabled,&.disabled{
      background-color: $darker;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.flim-card {
  border: 2px solid $primary-lightest;
  background-color: #fff;
  margin-bottom: 1.5rem;
  min-height: 260px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  img {
    width: 100%;
    height: 200px;
    margin: auto;
    object-fit: cover;
  }
  &:hover {
    border: 2px solid $primary-light;
    box-shadow: 0 0 15px rgba(black, 0.2);
  }
}

.question-block {
  border: 2px solid $primary-light;
  background-color: #fff;
  @include border-radius(10px);
  .page-title {
    transform: translateY(-75%);
  }
  .penghu-6 {
    @include phone-width() {
      width: 50%;
    }
  }
}
.answer-boy {
  position: relative;

  & > img {
    max-width: 96px;
  }
  .dialog {
    position: absolute;
    left: 100px;
    top: 0;
    width: 69px;
    height: 67px;
    background-image: url("../img/answer_df.svg");
    background-size: cover;
    &.right{
         background-image: url("../img/answer_ri.svg");
    }
    &.wrong{
        background-image: url("../img/answer_wr.svg");
    }
  }
}

.answers {
  label {
    width: 100%;
    
  }
  input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    border: 2px solid $primary-light;
    box-sizing: border-box;
    position: relative;
    width: auto;
    vertical-align: middle;
    &:checked {
      &:before {
       content: "✘";
        position: absolute;
        left: 50%;
        top: 50%;
       color:#f00;
        transform: translate(-50%, -50%);
       
      }
      &.right {
           &:before {
            content: "✔";
             color: $primary-light;
           }
        & + span {
          color: $primary-light;
        }
      }
      &+span{
          color:#f00;
      }
    }
  }
}
.tips{
    box-shadow: 0 0 20px rgba(black,.3);
}
.tip-content{
    background-color: #fff;
    border:1px dashed $primary;
}

.score{
    padding: 3rem 0;
}

.Identity{
  input[type="radio"]{
    -webkit-appearance: none;
    border: 2px solid $primary-light;
    box-sizing: border-box;
    position: relative;
    width: auto;
    vertical-align: middle;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
    &:checked{
      &:before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 2px;
        left: 2px;
        background-color: $primary-light;
        @include border-radius(50%);
      }
    }
  }
  .input-wrap{
    font-size: 0;
    label{
      width: 104px;
      display: inline-block;
      font-size: 1rem;
    }
    input{
      font-size: 1rem;
    }
    .id-input-group{
      display: inline-block;
      width: calc(100% - 104px);
      vertical-align: top;
      input{
        width: 100%;
        border: 1px solid $primary-light;
        margin-bottom: 5px;
        padding: 5px;
        @include border-radius(3px);
      }
    }
  }
  
}
.hr-dashed{
    border: 0;
    border-bottom: 1px dashed $primary-light;
  }