@import "_color.scss";
@import "_mixin.scss";
.map-wrap{
    position: relative;
}
.map-list-title{
border-bottom:1px dashed $primary; 
margin-bottom: 1rem;
}
.map-content{
    width: 100%;
    max-width: 400px;
    // height: 70%;    
    padding: 1rem;
    background-color: $primary-light;
    position: absolute;
    border:2px solid #fff;
    top: 2rem;
    left: 2rem;
  
    @include border-radius(5px);
    @include phone-width(){
        display: none;
    }
    h3{
        margin-top: 0;
    }
   
}
.map-inner{
    background-color: #fff;
    padding: 1rem;
    border:1px dashed $primary;
    @include border-radius(5px);
    p{
        margin: 0;
        line-height: 200%;
    }
}
.garbage{
    @include pc-width(){
        p{
    padding-right:2rem ; 
    } 
    }
    
   
    span{
        float: right;
       text-align: left;
       color:$darker;
    }
}