@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin border-radius-all($t,$r,$b,$l){
      border-radius: $t $r $b $l;
      -webkit-border-radius: $t $r $b $l;
	-moz-border-radius: $t $r $b $l;
}
// rwd query
$pc-media:768px;

$phones-media:767px;

//pc
 @mixin pc-width() {
  @media all and (min-width: $pc-media) {
               @content;
         }
    }
//pad


//phone
 @mixin phone-width() {
        @media all and (max-width: $phones-media) {
                @content;
          }
 }

 %ul-nostyle{
       padding: 0;
       list-style: none;
 }