@charset "UTF-8";
.tabs, .pages-num {
  padding: 0;
  list-style: none; }

.bg_green {
  background-image: url("../img/green_01.jpg"); }

.bg_green_light {
  background-image: url("../img/green_02.jpg"); }

.bg-light {
  background: #fff; }

.text-light, .lists .label, .pages-num a:hover, .pages-num a.active {
  color: #fff; }
  .text-light:visited, .lists .label:visited, .pages-num a:visited:hover, .pages-num a.active:visited {
    color: #fff; }

.border-right-light {
  border-right: 1px solid #fff; }

.border-primary-light {
  border: 1px solid #8DC21F; }

.border-lg {
  border-width: 2px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: proxima-nova, Helvetica, Arial, "PingFang TC", "微軟正黑體", "Microsoft JhengHei", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  color: #222; }
  a:visited {
    color: #222; }

h2 {
  font-size: 1.5rem; }

h6 {
  font-size: .8rem;
  color: #ccc;
  margin: 0 0 1rem; }

a, p {
  font-size: 1rem; }

p {
  line-height: 150%; }

input::-webkit-input-placeholder {
  color: #ccc; }

.container, .container-min {
  margin: auto; }

.container {
  max-width: 1200px;
  padding: 0 10px; }

.container-min {
  max-width: 1024px;
  padding: 0 10px; }
  .container-min.nopadding {
    padding: 0; }

.p-1 {
  padding: .6rem; }

.p-2 {
  padding: .8rem; }

.p-3 {
  padding: 1rem; }

.py-1 {
  padding-top: .6rem;
  padding-bottom: .6rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.text-center {
  text-align: center; }

.row {
  clear: both;
  overflow: auto; }
  .row .penghu-4 {
    float: left;
    width: calc(100% / 3);
    padding: 0 5px; }
    @media all and (max-width: 767px) {
      .row .penghu-4 {
        width: 100%; } }
  .row .penghu-phone-12 {
    float: left;
    width: calc(100%);
    padding: 0 5px; }

.position-re {
  position: relative; }

.position-ab {
  position: absolute; }

.rounded {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.bg_green {
  background-image: url("../img/green_01.jpg"); }

.bg_green_light {
  background-image: url("../img/green_02.jpg"); }

.bg-light {
  background: #fff; }

.text-light, .lists .label, .pages-num a:hover, .pages-num a.active {
  color: #fff; }
  .text-light:visited, .lists .label:visited, .pages-num a:visited:hover, .pages-num a.active:visited {
    color: #fff; }

.border-right-light {
  border-right: 1px solid #fff; }

.border-primary-light {
  border: 1px solid #8DC21F; }

.border-lg {
  border-width: 2px; }

header {
  border-bottom: 3px solid #DAD0BA; }
  header .header-logo {
    max-width: 280px;
    width: 100%; }
    @media all and (max-width: 767px) {
      header .header-logo {
        margin-bottom: 1rem; } }
  header .icon {
    max-width: 30px; }
  header a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    line-height: 50px; }
    @media all and (max-width: 767px) {
      header a {
        font-size: 1rem;
        line-height: 1rem; } }
    header a:visited {
      color: #fff; }
    header a:hover {
      opacity: .9; }

nav > div {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px dashed #C8BB9B;
  padding: 0 10px;
  height: 50px; }
  @media all and (max-width: 767px) {
    nav > div {
      border: 0;
      height: auto;
      padding: 0 5px; }
      nav > div .icon {
        display: none; } }

.bg_green {
  background-image: url("../img/green_01.jpg"); }

.bg_green_light {
  background-image: url("../img/green_02.jpg"); }

.bg-light {
  background: #fff; }

.text-light, .lists .label, .pages-num a:hover, .pages-num a.active {
  color: #fff; }
  .text-light:visited, .lists .label:visited, .pages-num a:visited:hover, .pages-num a.active:visited {
    color: #fff; }

.border-right-light {
  border-right: 1px solid #fff; }

.border-primary-light {
  border: 1px solid #8DC21F; }

.border-lg {
  border-width: 2px; }

.tabs, .pages-num {
  padding: 0;
  list-style: none; }

body {
  background-image: url("../img/background.jpg"); }

.icon {
  max-width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px; }
  .icon img {
    width: 100%; }

.page-title {
  background: url("../img/banner_txt.png");
  padding: 2rem 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative; }
  .page-title.page-title-sm {
    max-width: 550px;
    width: 100%;
    margin: auto; }
  .page-title.activity_text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media all and (max-width: 767px) {
      .page-title.activity_text {
        background-image: url("../img/green_01.jpg");
        background-size: auto;
        background-repeat: repeat;
        margin: 1rem 0;
        padding: 1rem;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; }
        .page-title.activity_text .inner-border {
          border: 1px dashed #fff;
          padding: 1rem; } }
    @media all and (min-width: 768px) {
      .page-title.activity_text h3 {
        -webkit-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        transform: translateY(-1rem); } }
    @media all and (max-width: 767px) {
      .page-title.activity_text h3 {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); } }
  .page-title h3 {
    padding: 1rem 0;
    margin: 0;
    -webkit-transform: translateY(-0.5rem);
    -ms-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem); }

.lists {
  padding: 0;
  margin: 0; }
  .lists li {
    list-style: none;
    border-bottom: 1px solid #006934; }
    .lists li a {
      text-decoration: none; }
      .lists li a > div {
        display: inline-block; }
    .lists li:first-child {
      border-top: 1px solid #006934; }
  .lists .date {
    font-weight: bold; }
  .lists .label {
    margin: 0 1rem 0 2rem;
    background-color: #f29600;
    padding: 5px 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
  @media all and (max-width: 767px) {
    .lists .title {
      margin: 1rem 0 0;
      display: block;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap; } }

.border-dash {
  padding: 5px;
  border: 1px dashed #00913a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.tabs {
  font-size: 0; }
  .tabs li {
    display: inline-block;
    width: calc(100% / 6 - 10px);
    margin: 0 5px; }
  .tabs a {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #023f63;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .tabs a:hover, .tabs a.active {
      background-color: #035f95; }

.search-group {
  font-size: 0;
  margin: 1rem 5px; }
  .search-group > * {
    display: inline-block;
    font-size: 1rem;
    border: 1px solid #8DC21F;
    line-height: 1.5rem; }
  .search-group input {
    width: calc(100% - 130px);
    padding: 10px 10px 10px 40px;
    outline: 0;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px; }
  .search-group button {
    width: 130px;
    background-color: #8DC21F;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0; }

.pages-num {
  text-align: center; }
  .pages-num li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle; }
  .pages-num a {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    line-height: 30px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .pages-num a:hover, .pages-num a.active {
      background-color: #8DC21F; }

article .article-title {
  border-bottom: 1px dashed #8DC21F;
  margin-bottom: 1rem; }

article .article-footer {
  border-top: 1px dashed #8DC21F;
  padding: 1rem 0; }

.files {
  display: inline-block; }
  .files a {
    display: block;
    padding: 1rem 0;
    text-decoration: underline; }
    .files a:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 45px;
      height: 45px;
      background-image: url("../img/download.svg");
      background-size: cover;
      margin-right: 1rem; }
    .files a:hover {
      color: #888; }

footer {
  font-size: 0;
  margin-top: 150px;
  padding: 50px 0; }
  @media all and (max-width: 767px) {
    footer {
      margin-top: 10vw;
      text-align: center; }
      footer img {
        margin: 0 auto; } }
  footer .connection {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% / 4); }
    @media all and (max-width: 767px) {
      footer .connection {
        display: block;
        border: 0;
        width: 100%; } }
    footer .connection > img {
      max-height: 100px;
      margin: auto; }

.footer-vector {
  max-width: 20%;
  top: -120%; }
  @media all and (max-width: 767px) {
    .footer-vector {
      top: -20vw; } }
